<p>index<p>
<table>
  <%= render @diaries %>
</table>

<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/kelly.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

<script>
am4core.ready(function() {

// Themes begin テーマ
am4core.useTheme(am4themes_kelly);
am4core.useTheme(am4themes_animated);
// Themes end

// Create chart instance
var chart = am4core.create("chartdiv", am4charts.XYChart);

const diaries = <%== JSON.dump(@diaries) %>;
console.log(diaries);

const ids = <%== JSON.dump(@ids) %>;
console.log(ids);

const weights = <%== JSON.dump(@weights) %>;
console.log(weights);

const dates = <%== JSON.dump(@dates) %>;

var first_date = new Date(dates[0])
var last_date = new Date(dates.slice(-1)[0])
var term_date= (last_date - first_date)/ 1000 / 60 / 60 / 24 + 1
console.log(term_date)


// Add data
chart.data = generateChartData();

// Create axes
var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
dateAxis.renderer.minGridDistance = 50;

var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

// Create series
var series = chart.series.push(new am4charts.LineSeries());
series.dataFields.valueY = "weight";
series.dataFields.dateX = "date";
series.strokeWidth = 2;
series.minBulletDistance = 10;
series.tooltipText = "{valueY}";
series.tooltip.pointerOrientation = "vertical";
series.tooltip.background.cornerRadius = 20;
series.tooltip.background.fillOpacity = 0.5;
series.tooltip.label.padding(12,12,12,12)

// Add scrollbar
chart.scrollbarX = new am4charts.XYChartScrollbar();
chart.scrollbarX.series.push(series);

// Add cursor
chart.cursor = new am4charts.XYCursor();
chart.cursor.xAxis = dateAxis;
chart.cursor.snapToSeries = series;

function generateChartData() {
    var chartData = [];
    var firstDate = first_date ;
    console.log(firstDate + 'b')
    firstDate.setDate(firstDate.getDate());
    console.log(firstDate+'c')
    var weight = weights[0];
    for (var i = 0; i < term_date; i++) {
        var newDate = new Date(firstDate);
        newDate.setDate(newDate.getDate() + i);

        console.log(new Date(dates[i])+'a')
        console.log(newDate)
        if (newDate.getTime()-new Date(dates[i])==0){
            weight =weights[i];
        }else{
          weight =79
        }


        chartData.push({
            date: newDate,
            weight: weight
        });
    }
    return chartData;
}

}); // end am4core.ready()
</script>
<div id="chartdiv"></div>