<!DOCTYPE html>
<html>
  <head>
    <title>WeightDiary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//www.amcharts.com/lib/3/amcharts.js"></script>
  </head>

  <body>

    <%= link_to '一覧', root_path , method: 'get'%>
    <% if user_signed_in? %>
      <%= link_to '投稿する', new_user_diary_path(current_user.id) , method: 'get'%>
      <a href="/users/<%=current_user.id%>"><%=current_user.name%>さん</a>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "ログイン",new_user_session_path, class: 'post' %>
      <%= link_to "新規ユーザー登録",new_user_registration_path, class: 'post'%>
    <% end %>
    <%= yield %>
  </body>
</html>
